{% extends 'base.html' %}

{% block title %}Boggle!{% endblock %}

{% block content %}

    <div class="timer">Timer: <span id="secs"></span></div>

    <div>HIGH SCORE: <span> {{ session['highscore'] }}</span></div>

    <table class="board">
        <tbody>
            {% for row in board %}
            <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="POST" class="guess-word">
        <input type="text" name="word">
    </form>

    <div id="results"></div>


    <p>CURRENT SCORE: <span class="score"></span></p>

    <ul class="used-words"></ul>
{% endblock %}